<% @page_tile = 'Admin Menu' %>

<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>


<div class='menu'>
  <h2>Admin Menu</h2>
  <div class='identity'> Logged in as : </div>
  <ul>
    <li> <%= link_to('Manage Subjects', :controller => 'subjects') %> </li>
    <li> <%= link_to('Manage Pages', :controller => 'pages') %> </li>
    <li> <%= link_to('Manage Sections', :controller => 'sections') %> </li>
    <li> <%= link_to('Manage Admin Users', '#' ) %> </li>
    <li> <%= link_to('Logout', :controller => 'access', :action => 'logout') %> </li>
  </ul>

</div>