  <%= error_messages_for(@subject) %>

  <table summary="Subject form fields">
  <tr>
    <th><%= foo.label(:name, 'Name') %></th>   <!-- same as saying <th>Name</th>  -->
    <td><%= foo.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= foo.label(:position) %></th> <!-- same as saying <th>Position</th>  -->
    <td><%= foo.select(:position, 1..@subject_count, options={:disable => true}) %></td>
  </tr>
  <tr>
    <th><%= foo.label(:visible)  %></th>
    <td><%= foo.check_box (:visible) %></td>
  </tr>
  <tr>
    <th><%= foo.label(:created_at)  %></th>
    <td><%= foo.datetime_select(:created_at) %></td>
  </tr>
</table>
